cv01/data/*
cv02/data/*
cv04/data/idnes_articles.json
cv04/data/idnes_articles_text.txt
cv06/data/2002.csv
cv06/data/2003.csv
cv06/data/2004.csv
cv06/data/realestate.csv
cv06/data/predictions.csv
cv07/data/*
cv08/data/*
cv09/BONUS/idnes.json
cv09/BONUS/idnes_big.json
cv09/BONUS/idnes_small.json
cv09/BONUS/out/*
cv09/BONUS/CLUSTER PROBLEM
cv09/BONUS/claude_pokus.py